* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: linear-gradient(to right, #00ffbf 20%, #ffffff 50%, #00ffbf 80%);
    margin: 0;
    padding: 0;
}

#padre {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;


}

#contenedor {
    height: 600px;
    width: 1200px;
    display: flex;
    flex-direction: row;
    border-radius: 15px 15px 15px;
    box-shadow: -8px 8px 10px #080620;
    background: linear-gradient(to bottom, #000000, #ffffff 80%);


}

img {

    border-radius: 20px;
    height: 450px;
    width: 500px;
}

#imagen1 {
    align-items: center;
    height: 600px;
    width: 50%;
    display: flex;
    justify-content: center;
    border-radius: 15px 15px 45px 15px;
    background: black;

}

#login {
    width: 50%;
    border-radius: 45px 15px 15px 0px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;

}

input {
    color: #000000;
    margin: 15px;
    background: none;
    border: none;
    border-bottom: 1px solid #000000;
}

h2 {
    color: #000000;
}

label {
    color: #00aeff;
}

#opciones {
    width: 45%;
    height: 60%;
    border-radius: 15px;
    box-shadow: -2px 2px 4px #ea0707;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background: linear-gradient(to line, blue, #f20303 80%);

}

button {
    border-radius: 10px;
    width: 75px;
    color: #f4f4f4;
    background: linear-gradient(to right, blue, #f20303 80%);
    border: none;
    transition: transform 0.5s;
}

button:hover {
    transform: translateY(-10px) translateX(10px);
}